Webhook Project.json
{
  "name": "Webhook Project",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbox-interface",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        0
      ],
      "id": "237e7641-9b63-49a3-8309-f193a535ed4a",
      "name": "Webhook",
      "webhookId": "50881ea9-4ac3-423a-8253-d625f94b6faf"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message || $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        288,
        0
      ],
      "id": "a3319208-a8dc-44e8-9560-c08188587ad3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        368,
        224
      ],
      "id": "9d9226cb-8231-487e-a1e3-f0fe8ea762f3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xxIFR8IkLMnlaljf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        592,
        0
      ],
      "id": "ca66e357-1132-4fae-9965-b9c0cde5767a",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d4afd511-9e1e-41e6-8915-631915c79a4d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7914ccb7bb2f24eb0fdaa2f11a6b1abd1e19772a85d1c983f9962d993b09b0e2"
  },
  "id": "pEcaLmxC2zRhioHO",
  "tags": []
}